<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bne.mapper.DailyReport">




<resultMap type="DailyReportListElement" id="DailyReportListElement">
	<result column="employee_id" property="employee_id"/>
	<result column="employee_name" property="employee_name"/>
	<result column="title" property="title"/>
	<result column="reg_date" property="reg_date"/>
	<result column="approval_flag" property="approval_flag"/>
	<result column="idx" property="idx"/>
</resultMap>



<resultMap type="DailyReportTeamListElement" id="DailyReportTeamListElement">
	<result column="employee_id" property="employee_id"/>
	<result column="employee_name" property="employee_name"/>
	<result column="department_id" property="department_id"/>
	<result column="unApproval" property="unApproval"/>
</resultMap>





<!-- 전체 리스트 페이징 -->
<select id="selectDailyReportList" parameterType="hashmap" resultMap="DailyReportListElement"> 

	select idx, employee_id, employee_name, title, reg_date, approval_flag
	from (select ROW_NUMBER() OVER (order by reg_date desc) idx, d.employee_id, e.employee_name, d.title, to_char(reg_date, 'yyyy-mm-dd') reg_date, approval_flag
	      from daily_report d , employee e
	      where d.employee_id = e.employee_id
	      and d.department_id = (select department_id from employee where employee_id = #{user_id})
	      <if test="employee_id != null">
	      	and d.employee_id = #{employee_id}
	      </if>
	      <if test="reg_date != null">
	      	and to_char(d.reg_date, 'yyyy-mm-dd') = #{reg_date}
	      </if>
	      <if test="approval_flag != null">
	      	and d.approval_flag = #{approval_flag}
	      </if>
	      ) a  		
	where idx between 1 + #{perContentNum}*(#{startIdx}-1) and #{startIdx}*#{perContentNum}
	order by idx asc 

</select>



<!-- 전체 리스트 페이지 갯수 -->
<select id="getPagingNum_DailyReportList" parameterType="hashmap" resultType="int"> 

	select ceil(count(*)/#{perContentNum}) cnt
	from daily_report d , employee e
	where d.employee_id = e.employee_id
		and d.department_id = (select department_id from employee where employee_id = #{user_id})
	<if test="employee_id != null">
	  	and d.employee_id = #{employee_id}
	</if>
	<if test="reg_date != null">
	   	and to_char(d.reg_date, 'yyyy-mm-dd') = #{reg_date}
	</if>
	<if test="approval_flag != null">
	   	and d.approval_flag = #{approval_flag}
	</if> 		

</select>







<select id="selectTeamMemberList" parameterType="java.lang.String" resultMap="DailyReportTeamListElement"> 
	select b.employee_id, b.employee_name, b.department_id, nvl(a.unApproval, 0) unApproval
	from (select employee_id, count(*) unApproval from DAILY_REPORT
	      where department_id = (select department_id from department where manager_id = #{value})
	            and approval_flag = 0
	      group by employee_id) a, employee b
	where 	b.employee_id != #{value}
			and a.employee_id(+) = b.employee_id
  order by b.employee_name asc
</select>





<select id="getTotalUnapprovalNum_Manager" parameterType="String" resultType="int">
	select count(*) from DAILY_REPORT
  	where department_id = (select department_id from department where manager_id = #{value}) 
    	    and APPROVAL_FLAG = 0
</select>




<select id="getTotalUnapprovalNum_Member" parameterType="String" resultType="int">
	select count(*) from DAILY_REPORT
  	where employee_id = #{value}
    	    and APPROVAL_FLAG = 0
</select>





</mapper>