<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bne.mapper.Employee">

	<select id="selectEmployee" parameterType="String" resultType="Employee">

	<!-- <![CDATA[select e.*, d.department_name from employee e, department 
		d where d.department_id = e.department_id and e.employee_id=#{value}]]>  -->
	<![CDATA[select e.*, d.department_name,
        CASE WHEN employee_id in (select manager_id from department) THEN 'manager'
        ELSE 'employee' END position from employee e, department d where e.DEPARTMENT_ID = d.DEPARTMENT_ID
  		and employee_id = #{value}]]>
	
	
	<!-- <![CDATA[select * from employee where employee_id=#{value}]]> -->
	</select>

	<update id="updatePassword" parameterType="HashMap">
	<![CDATA[update employee set password=#{password} where employee_id=#{id}]]>
	</update>

</mapper>