<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="Client" type="kr.co.bne.dto.ClientDTO"/>
		<typeAlias alias="CounsellingRecord" type="kr.co.bne.dto.CounsellingRecordDTO"/>
		<typeAlias alias="DailyReport" type="kr.co.bne.dto.DailyReportDTO"/>
		<typeAlias alias="Department" type="kr.co.bne.dto.DepartmentDTO"/>
		<typeAlias alias="Employee" type="kr.co.bne.dto.EmployeeDTO"/>
		<typeAlias alias="SecondaryClient" type="kr.co.bne.dto.SecondaryClientDTO"/>
		<typeAlias alias="WeeklyPlan" type="kr.co.bne.dto.WeeklyPlanDTO"/>
		<typeAlias alias="WeeklyReport" type="kr.co.bne.dto.WeeklyReportDTO"/>
	</typeAliases>

	<mappers>
	<!-- <mapper resource="kr/co/ggb/mapper/BoardMapper.xml"/> -->
		<!-- <mapper resource=""/> -->
	</mappers>
</configuration>