<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bne.mapper.Notice">
	
	<parameterMap id="procMap" type="HashMap">
		<parameter property="notice_type" mode="IN" jdbcType="VARCHAR" javaType="String" />
		<parameter property="link" mode="IN" jdbcType="INTEGER" javaType="int" />
		<parameter property="result" mode="OUT" jdbcType="CURSOR" javaType="java.sql.ResultSet" resultMap="NoticeHeader"/>
		<parameter property="subject_id" mode="IN" jdbcType="VARCHAR" javaType="String" />
		<parameter property="object_id" mode="IN" jdbcType="VARCHAR" javaType="String" />
	</parameterMap>
	
	
	<resultMap type="Notice" id="Notice">
		<result column="notice_type" property="notice_type"/>
		<result column="link_id" property="link_id"/>
		<result column="notice_id" property="notice_id"/>
		<result column="subject" property="subject"/>
		<result column="object" property="object"/>
		<result column="reg_date" property="reg_date"/>
		<result column="read_flag" property="read_flag"/>
	</resultMap>
	
	
	
	<resultMap type="NoticeHeader" id="NoticeHeader">
		<result column="notice_type" property="notice_type"/>
		<result column="notice_id" property="notice_id"/>
		<result column="subject_name" property="subject_name"/>
		<result column="subject_id" property="subject_id"/>
		<result column="reg_date" property="reg_date"/>
		<result column="link_id" property="link_id"/>
		<result column="object_id" property="object_id"/>
	</resultMap>
	


	<insert id="create_notice" parameterMap="procMap" statementType="CALLABLE">
		{call NOTICE_PKG.CREATE_NOTICE (?,?,?,?,?)}
	</insert>
	
	
	
	<select id="getUnreadNoticeCount" parameterType="String" resultType="Integer">
		select count(*)
		from notice
		where OBJECT=#{value} and SUBJECT != #{value} and READ_FLAG=0
	</select>
	
	
	
	<select id="selectNoticeList" parameterType="hashmap" resultMap="NoticeHeader">
		select notice_type, notice_id, b.employee_name subject_name, subject subject_id, b.FILE_POSITION, reg_date, link_id
		from (select idx, notice_type, notice_id, subject, reg_date, read_flag, link_id
				from (select ROW_NUMBER() OVER (ORDER BY importance_level asc, reg_date desc) idx, notice_type, notice_id, link_id, subject, object, importance_level, to_char(reg_date, 'yyyy-mm-dd hh:mm:ss') reg_date, read_flag
				      from (select n.notice_type, n.notice_id, n.subject, t.IMPORTANCE_LEVEL, n.object, n.reg_date, n.read_flag, link_id 
				            from notice n, notice_type t 
				            where n.notice_type = t.notice_type_id)
				      where object = #{user_id} and read_flag = 0) a
				where idx between 1 + #{perContentNum}*(#{startIdx}-1) and #{startIdx}*#{perContentNum}) a, employee b
		where a.subject != #{user_id} and
		      a.subject = b.employee_id
		order by idx asc
	</select>
	
	
	<update id="updateOneReadFlag" parameterType="int">
		UPDATE notice SET read_flag = 1 WHERE notice_id = #{value}
	</update>
	
	
	<update id="updateAllReadFlag">
		UPDATE notice SET read_flag = 1
	</update>
	
	
	<select id="selectUnconfirmedNotices" parameterType="hashmap" resultType="Notice">

<if test='position.equals("manager")'>
<![CDATA[
select unconfirmed.*
from
(select ROW_NUMBER() OVER (ORDER BY n.reg_date desc, nt.importance_level) idx,nt.IMPORTANCE_LEVEL,n.NOTICE_TYPE,n.NOTICE_ID,n.REG_DATE,
TRUNC(MONTHS_BETWEEN(SYSDATE,n.reg_date)/12) || 'year ' || 
TRUNC(MONTHS_BETWEEN(SYSDATE, n.reg_date) - 
TRUNC(MONTHS_BETWEEN(SYSDATE, n.reg_date)/12) * 12) || 'month ' ||
TRUNC((MONTHS_BETWEEN(SYSDATE,n.reg_date) - 
TRUNC(MONTHS_BETWEEN(SYSDATE, n.reg_date))) * 30.5) || 'day ' || trunc(mod((sysdate-n.REG_DATE),1)*24) ||'h '||
trunc(mod((sysdate-n.REG_DATE)*24,1)*60) || 'min ' ||trunc(round(mod((sysdate-n.REG_DATE)*24*60,1)*60)) || 'sec ' passtime,
e.EMPLOYEE_NAME,case when notice_type='DAILY_POST' then e1.employee_name || '님이 일일업무('||dr.title ||') 보고서를 작성하였습니다' 
when notice_type='WEEKLY_POST' then e1.employee_name || '님이 주간업무('||wr.title||' )보고서를 작성하였습니다.' 
when notice_type='DAILY_CORRECT' then e1.employee_name || '님이 일일업무('||dr.title ||') 보고서를 수정하였습니다.'
when notice_type='WEEKLY_CORRECT' then e1.employee_name || '님이 주간업무('||wr.title||') 보고서를 수정하였습니다.'
END as content, n.link_id,n.SUBJECT
from notice n,notice_type nt, employee e, employee e1,WEEKLY_REPORT wr,DAILY_REPORT dr
where e.employee_id=n.object and e1.employee_id=n.subject and
n.object=#{employee_id} and n.notice_type=nt.notice_type_id and n.READ_FLAG=0 and notice_type like #{type} and wr.LINK_ID(+)=n.link_id and dr.daily_report_id(+)=n.link_id) unconfirmed
where unconfirmed.idx BETWEEN #{start} and #{end}
]]>
</if>
<if test='position.equals("employee")'>
<![CDATA[
select unconfirmed.*
from
(select ROW_NUMBER() OVER (ORDER BY n.reg_date desc, nt.importance_level) idx,nt.IMPORTANCE_LEVEL,n.NOTICE_TYPE,n.NOTICE_ID,n.REG_DATE,
TRUNC(MONTHS_BETWEEN(SYSDATE,n.reg_date)/12) || 'year ' || 
TRUNC(MONTHS_BETWEEN(SYSDATE, n.reg_date) - 
TRUNC(MONTHS_BETWEEN(SYSDATE, n.reg_date)/12) * 12) || 'month ' ||
TRUNC((MONTHS_BETWEEN(SYSDATE,n.reg_date) - 
TRUNC(MONTHS_BETWEEN(SYSDATE, n.reg_date))) * 30.5) || 'day ' || trunc(mod((sysdate-n.REG_DATE),1)*24) ||'h '||
trunc(mod((sysdate-n.REG_DATE)*24,1)*60) || 'min ' ||trunc(round(mod((sysdate-n.REG_DATE)*24*60,1)*60)) || 'sec ' passtime,
e.EMPLOYEE_NAME,case when notice_type='COMMENT' then e1.employee_name || '님이 일일업무('||dr.title ||') 보고서에 관한 COMMENT를 작성하였습니다' 
when notice_type='WEEKLY_POST' then e1.employee_name || '님이 주간업무('||wr.title||') 보고서를 작성하였습니다.' 
when notice_type='APPROVAL' then e1.employee_name || '님이 일일업무('||dr.title ||') 보고서를 승인하였습니다.'
when notice_type='WEEKLY_CORRECT' then e1.employee_name || '님이 주간업무('||wr.title||') 보고서를 수정하였습니다.'
END as content, n.link_id,n.SUBJECT
from notice n,notice_type nt, employee e, employee e1,WEEKLY_REPORT wr,DAILY_REPORT dr
where e.employee_id=n.object and e1.employee_id=n.subject and
n.object=#{employee_id} and n.notice_type=nt.notice_type_id and n.READ_FLAG=0 and notice_type like #{type} and wr.LINK_ID(+)=n.link_id and dr.daily_report_id(+)=n.link_id) unconfirmed
where unconfirmed.idx BETWEEN #{start} and #{end} 
]]>
</if>

</select>

<select id="selectconfirmedNotices" parameterType="hashmap" resultType="Notice">
<if test='position.equals("manager")'>
<![CDATA[
select confirmed.*
from
(select ROW_NUMBER() OVER (ORDER BY n.reg_date desc, nt.importance_level) idx,nt.IMPORTANCE_LEVEL,n.NOTICE_TYPE,n.NOTICE_ID,n.REG_DATE,
TRUNC(MONTHS_BETWEEN(SYSDATE,n.reg_date)/12) || 'year ' || 
TRUNC(MONTHS_BETWEEN(SYSDATE, n.reg_date) - 
TRUNC(MONTHS_BETWEEN(SYSDATE, n.reg_date)/12) * 12) || 'month ' ||
TRUNC((MONTHS_BETWEEN(SYSDATE,n.reg_date) - 
TRUNC(MONTHS_BETWEEN(SYSDATE, n.reg_date))) * 30.5) || 'day ' || trunc(mod((sysdate-n.REG_DATE),1)*24) ||'h '||
trunc(mod((sysdate-n.REG_DATE)*24,1)*60) || 'min ' ||trunc(round(mod((sysdate-n.REG_DATE)*24*60,1)*60)) || 'sec ' passtime,
e.EMPLOYEE_NAME,case when notice_type='DAILY_POST' then e1.employee_name || '님이 일일업무('||dr.title ||') 보고서를 작성하였습니다' 
when notice_type='WEEKLY_POST' then e1.employee_name || '님이 주간업무('||wr.title||' )보고서를 작성하였습니다.' 
when notice_type='DAILY_CORRECT' then e1.employee_name || '님이 일일업무('||dr.title ||') 보고서를 수정하였습니다.'
when notice_type='WEEKLY_CORRECT' then e1.employee_name || '님이 주간업무('||wr.title||') 보고서를 수정하였습니다.'
END as content, n.link_id,n.SUBJECT
from notice n,notice_type nt, employee e, employee e1,WEEKLY_REPORT wr,DAILY_REPORT dr
where e.employee_id=n.object and e1.employee_id=n.subject and
n.object=#{employee_id} and n.notice_type=nt.notice_type_id and n.READ_FLAG=1 and notice_type like #{type} and wr.LINK_ID(+)=n.link_id and dr.daily_report_id(+)=n.link_id) confirmed
where confirmed.idx BETWEEN #{start} and #{end}
]]>
</if>
<if test='position.equals("employee")'>
<![CDATA[
select confirmed.*
from
(select ROW_NUMBER() OVER (ORDER BY n.reg_date desc, nt.importance_level) idx,nt.IMPORTANCE_LEVEL,n.NOTICE_TYPE,n.NOTICE_ID,n.REG_DATE,
TRUNC(MONTHS_BETWEEN(SYSDATE,n.reg_date)/12) || 'year ' || 
TRUNC(MONTHS_BETWEEN(SYSDATE, n.reg_date) - 
TRUNC(MONTHS_BETWEEN(SYSDATE, n.reg_date)/12) * 12) || 'month ' ||
TRUNC((MONTHS_BETWEEN(SYSDATE,n.reg_date) - 
TRUNC(MONTHS_BETWEEN(SYSDATE, n.reg_date))) * 30.5) || 'day ' || trunc(mod((sysdate-n.REG_DATE),1)*24) ||'h '||
trunc(mod((sysdate-n.REG_DATE)*24,1)*60) || 'min ' ||trunc(round(mod((sysdate-n.REG_DATE)*24*60,1)*60)) || 'sec ' passtime,
e.EMPLOYEE_NAME,case when notice_type='COMMENT' then e1.employee_name || '님이 일일업무('||dr.title ||') 보고서에 관한 COMMENT를 작성하였습니다' 
when notice_type='WEEKLY_POST' then e1.employee_name || '님이 주간업무('||wr.title||') 보고서를 작성하였습니다.' 
when notice_type='APPROVAL' then e1.employee_name || '님이 일일업무('||dr.title ||') 보고서를 승인하였습니다.'
when notice_type='WEEKLY_CORRECT' then e1.employee_name || '님이 주간업무('||wr.title||') 보고서를 수정하였습니다.'
END as content, n.link_id,n.SUBJECT
from notice n,notice_type nt, employee e, employee e1,WEEKLY_REPORT wr,DAILY_REPORT dr
where e.employee_id=n.object and e1.employee_id=n.subject and
n.object=#{employee_id} and n.notice_type=nt.notice_type_id and n.READ_FLAG=1 and notice_type like #{type} and wr.LINK_ID(+)=n.link_id and dr.daily_report_id(+)=n.link_id) confirmed
where confirmed.idx BETWEEN #{start} and #{end} 
]]>
</if>
</select>
<update id="updateUnconfirmed" parameterType="Integer">
	<![CDATA[
		update notice set read_flag=1 where notice_id=#{noticeId}
	]]>
</update>
</mapper>
