<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bne.mapper.PlanDetail">

	<insert id="insertPlanDetail" parameterType="PlanDetail">
		INSERT INTO PLAN_DETAIL
		VALUES(#{weekly_report_id}, #{weekly_plan_id}, #{content}, TO_DATE(#{start_time}, 'RRRR-MM-DD HH24:MI:SS'),  TO_DATE(#{end_time}, 'RRRR-MM-DD HH24:MI:SS'))
	</insert>
	
	<!-- 주간 계획 주에서 해당되는 계획 세부 일정 -->
	<select id="selectPlanDetailList" parameterType="String" resultType="PlanDetail">
			SELECT  PLAN_DETAIL_ID, WEEKLY_REPORT_ID, CONTENT, TO_CHAR(START_TIME,'RRRR-MM-DD HH24:MI:SS') AS START_TIME, TO_CHAR(END_TIME,'RRRR-MM-DD HH24:MI:SS') AS END_TIME
			FROM    PLAN_DETAIL
			WHERE  WEEKLY_REPORT_ID = #{value}
	</select>

</mapper>