<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bne.mapper.WeeklyPlan">
	<!-- 해당 주의 월~금 매출액 -->
	<select id="selectWeeklyPlanList" parameterType="String" resultType="WeeklyPlan">
		SELECT 	WEEKLY_PLAN_ID, WEEKLY_REPORT_ID, SALES, TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE
		FROM   WEEKLY_PLAN
		WHERE WEEKLY_REPORT_ID = #{value}
		ORDER BY REG_DATE
	</select>
	
	<insert id="insertWeeklyPlan" parameterType="WeeklyPlan">
		INSERT INTO WEEKLY_PLAN(weekly_plan_id, weekly_report_id, sales, reg_date) VALUES(WEEKLY_PLAN_SEQ.nextval, #{weekly_report_id}, #{sales}, #{reg_date})
	</insert>
</mapper>