<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bne.mapper.WeeklyReport">

  	<resultMap type="java.util.HashMap" id="dayList">
	   <result javaType="java.lang.String" column="WEEKDAYNAME" property="WEEKDAYNAME"/>
        <result javaType="java.lang.String" column="REPORT_PLAN_DAYS" property="REPORT_PLAN_DAYS"/>	
	</resultMap>

<!-- 새로 작성 시 지난 주 까지의 매출액 -->
	<select id="selectThisMonthlySales" parameterType="String" resultType="Integer">
		<![CDATA[
		SELECT  SUM(RESULT) AS RECENT_SALES_SUM
		FROM    (SELECT CASE WHEN TO_CHAR(NEXT_DAY(LPD.LAST_PLAN_DATE, 2), 'YYYYMM') = TO_CHAR(LPD.LAST_PLAN_DATE, 'YYYYMM')
            				     THEN DR.SALES ELSE 0
     		          	         END AS RESULT
         			  FROM   DAILY_REPORT DR,(SELECT  TRUNC(MAX(WP.REG_DATE),'DD') AS LAST_PLAN_DATE
                       								          FROM    WEEKLY_REPORT WR, WEEKLY_PLAN WP
                                 							  WHERE   WR.EMPLOYEE_ID = #{value} AND
                                         									WR.WEEKLY_REPORT_ID = WP.WEEKLY_REPORT_ID) LPD 
         WHERE  DR.REG_DATE < LPD.LAST_PLAN_DATE + 1 AND 
         		      TO_CHAR(DR.REG_DATE, 'YYYYMM') = TO_CHAR(LPD.LAST_PLAN_DATE, 'YYYYMM'))
		]]>
	</select>
	
	<!-- 새로 작성시 이번주에 필요한 매출 목표 -->
	<select id="selectSalesGoal" parameterType="String" resultType="Integer">
		<![CDATA[
		SELECT    CASE WHEN TO_CHAR(NEXT_DAY(LPD.LAST_PLAN_DATE, 2), 'YYYYMM') = TO_CHAR(LPD.LAST_PLAN_DATE, 'YYYYMM')
			          THEN MG.SALES_GOAL ELSE 0
			          END AS MONTHLY_SALES_GOAL
		FROM      MONTHLY_GOAL MG, (SELECT  TRUNC(MAX(WP.REG_DATE),'DD') AS LAST_PLAN_DATE
							                            FROM    WEEKLY_REPORT WR, WEEKLY_PLAN WP
							                            WHERE   WR.EMPLOYEE_ID = #{value} AND
							                    		                WR.WEEKLY_REPORT_ID = WP.WEEKLY_REPORT_ID) LPD
		WHERE    EMPLOYEE_ID = #{value} AND
			          YEAR = TO_NUMBER(TO_CHAR(LPD.LAST_PLAN_DATE, 'YYYY')) AND
			          MONTH = TO_NUMBER(TO_CHAR(LPD.LAST_PLAN_DATE, 'MM'))
		]]>
	</select>
	
	<!-- 새로 작성시 필요한 날짜 리스트 -->
<!-- 	<select id="selectDayList" parameterType="String" resultMap="dayList">
		<![CDATA[
			SELECT    CASE TO_CHAR(REPORT_PLAN_DAYS,'D')
			          WHEN '1' THEN 'sun' 
			          WHEN '2' THEN 'mon'
			          WHEN '3' THEN 'tue'
			          WHEN '4' THEN 'wed'
			          WHEN '5' THEN 'thu'
			          WHEN '6' THEN 'fri'
			          WHEN '7' THEN 'sat'
			          END AS WEEKDAYNAME,
			          TO_CHAR(REPORT_PLAN_DAYS, 'YYYY.MM.DD') AS REPORT_PLAN_DAYS
			FROM     (SELECT   TRUNC(WP.REG_DATE+7, 'DD') AS REPORT_PLAN_DAYS, RANK() OVER (ORDER BY WP.REG_DATE DESC ) AS RK
			          FROM     WEEKLY_REPORT WR, WEEKLY_PLAN WP
			          WHERE    WR.WEEKLY_REPORT_ID = WP.WEEKLY_REPORT_ID AND
			                   WR.EMPLOYEE_ID = '1'
			          ORDER BY 1)
			WHERE     RK <= 5  
		]]>
	</select> -->
</mapper>